<div class="col col-md-3 mt-3">
  <div class="card" style="width: 15rem;">
    <img src="<%= badge.img_url %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= badge.title %></h5>
      <p class="card-text"><%= badge.description %></p>
      <%= link_to t('.edit'), edit_admin_badge_path(badge), class: "btn btn-primary" %>
    </div>
  </div>
</div>
