<div class="nav">
  <div class="logo">
    <%= link_to t('.test_guru'), admin_root_path %> |
    <%= t('.admin_panel') %>
  </div>
  <div class="account">
      <%= t('.welcome', username: current_user.username) %>
      | <%= link_to t('.logout'), destroy_user_session_path, method: :delete, data: { confirm: t('.logout_confirm') } %>
  </div>
</div>
