<div class="nav">
  <div class="logo">
    <%= link_to 'Test Guru', admin_root_path %>
    Admin Panel
  </div>
  <div class="account">
      Welcome, <strong><%= current_user.username %></strong> Guru
      | <%= link_to 'logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' } %>
  </div>
</div>
