<nav class="navbar navbar-dark bg-primary">
  <%= link_to t('.test_guru'), admin_root_path, class: 'navbar-brand' %>
    <%= t('.admin_panel') %>
  <span class="navbar-text">
      <%= t('.welcome', username: current_user.username) %>
      | <%= link_to t('.logout'), destroy_user_session_path, method: :delete, data: { confirm: t('.logout_confirm') } %>
  </span>
</nav>
