<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td><%= link_to URI.parse(gist.gist_url).path, gist.gist_url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
</tr>
