<p> &copy; <%= current_year %>
  <%= link_to 'vsav', project_repo('vsav', 'test-guru') %>
  Test Guru - учебное приложение на RoR, позволяющее создавать и проходить различные тесты.</p>
<p>
  <%= link_to 'онлайн-школа Thinknetica', 'http://thinknetica.com' %>
</p>

