<h1>Question</h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @answer.body %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question) %>
