<div class="card-body">
  <p class="card-text">
    <%= question.body %>
  </p>
  <div class="btn-group" role="group" aria-label="actions">
    <%= link_to 'Show', admin_question_path(question), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Edit', edit_admin_question_path(question), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Delete', admin_question_path(question), class: 'btn btn-outline-secondary',
                          method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
